<html>
<head>
    <title>Pantorouter plans 1:1 scale parts drawings</title>
    <style type=text/css>
        body { font-family: helvetica; font-size: 100%; }
    </style>
</head>
<h1>Pantorouter plans 1:1 scale parts drawings</h1>
<p>
This page contains 1:1 printable drawings of the parts.  You may also
optionally <a href="overviews.html">print 1:1 views of the assembled machine</a>
<p>
To print the drawings to come out as full size 1:1 scale drawings with your browser, you will
need to set your top, left and right margins to zero, and the bottom margin to
less than 0.75" or 2 cm.  When you print, do NOT scale the output (browser will often scale by default).  
The print scale should be set to 100%.
<p>
It's best to try printing just the first page to see how it works out.  The border surrounding
the images should be 19 x 25 cm in size.  If it's any smaller than that, the drawing is not scaled correctly.
<p>
You can click on any of the images below for an enlarged view, but to print out the images, please
see the instructions below.
<p>
<h3>Printer optimized versions of 1:1 templates</h3>
Use these links to print all the template pages.  If you are printing the HTML version,
use FireFox or Internet Explorer and set print scale to 100% and top/left/right margins 
to 0.3" or 5 mm, and bottom margin to 1/2" or 10 mm.
<p><b>
<a href="printer_89.html">Templates, including mount for 89 mm (3.5") diameter router (HTML)</a>
&nbsp; <a href="printer_89.pdf">PDF version</a>
<p>
<a href="printer_71.html">Templates, including mount for 71 mm diameter palm router (HTML)</a>
&nbsp; <a href="printer_71.pdf">PDF version</a>
</b>
<h3>Using the BigPrint program</h3>
If you are using a Windows PC, you can also download the free evaluation copy of <a href="http://woodgears.ca/bigprint"><b>BigPrint</b></a>,
then drag any of the images below onto the program.  The evaluation version will recognize these images
and act like the full version while one of the images is loaded.  You don't need to buy the
BigPrint program to print these plans.

<h3>Tweaking the scale</h3>
Most InkJet printers will print very accurately without making any adjustments.  However, some
laser printers will print off-scale by as much as 1%.  If you need to adjust the scale, print one
of the images and measure the actual size of the border and calculate the scale error.
Measure the borders to the outside edges of the lines.
<p>
For example, if the border is 24.5 cm wide, that would be 24.5/25 = 98%.  To compensate, set the print
scale (in your browser, or PDF viewer) to 102%.
<p> 
Also check the border in the other direction, making sure it's 19 cm.  If you are using my BigPrint program,
you can make very fine adjustments to the scale, both horizontally and vertically.



<h2>Pantograph 1:1 drawings</h2>
Images below are for viewing on the computer. Click any image for a larger view.
The border should print at 19 x 25 cm.  If you use a graphics program to print these,
print them at 19 x 25.
<p>
<b>Links and spring cams</b><br>
<a href="links.png">  <img src="thumbnail/links.png" width=400 height=304></a>
<p>
<b>89 mm (3.5") diameter router mount templates</b><br>
<a href="m8t1.png">  <img src="thumbnail/m8t1.png" width=400 height=304></a>
<a href="m8t2.png">  <img src="thumbnail/m8t2.png" width=400 height=304></a>
<a href="m8t3.png">  <img src="thumbnail/m8t3.png" width=400 height=304></a>
<p>
<b>71 mm diameter palm router mount templates</b><br>
<a href="m7t1.png">  <img src="thumbnail/m7t1.png" width=400 height=304></a>
<a href="m7t2.png">  <img src="thumbnail/m7t2.png" width=400 height=304></a>
<a href="m7t3.png">  <img src="thumbnail/m7t3.png" width=400 height=304></a>
d
<h3>Other parts 1:1 drawings</h3>
<a href="tmpl1.png">  <img src="thumbnail/tmpl1.png" width=400 height=304></a>
<a href="tmpl2.png">  <img src="thumbnail/tmpl2.png" width=400 height=304></a>
<a href="tmpl3.png">  <img src="thumbnail/tmpl3.png" width=400 height=304></a>
<a href="tmpl4.png">  <img src="thumbnail/tmpl4.png" width=400 height=304></a>
<a href="tmpl5.png">  <img src="thumbnail/tmpl5.png" width=400 height=304></a>
