<html>
<head>
    <title>Pantorouter plans 1:1 overview drawings</title>
    <style type=text/css>
        body { font-family: helvetica; font-size: 100%; }
    </style>
</head>
<h1>Pantorouter 1:1 overview drawings</h1>
These 1:1 views are not necessary for building the pantorouter.  However, you may find
a 1:1 printouts of the whole machine useful as a reference while building the machine.
<p>
You can print these pages either using the "pdf" link to the right of each image,
or by downloading  the free eval version of 
<a href="http://woodgears.ca/bigprint"><b>BigPrint</b></a> (Windows only), and then using
your mouse to drag and drop each of the images below onto BigPrint.
<p>
For 1:1 cutting patterns, please use the <a href="index.html"><b>1:1 templates</b></a>
<p>
<table><td>
<a href="back_1-1.png"><img src="thumbnail/back_1-1.png" align=middle border=1></a>
<td>
<a href="back_1-1.pdf"><b>back_1-1.pdf</a>
</table>
<p>
<table><td>
<a href="left_1-1.png"><img src="thumbnail/left_1-1.png" align=middle border=1></a>
<td>
<a href="left_1-1.pdf"><b>left_1-1.pdf</b></a><p>
Plunge lever not shown for clarity.
</table>
<p>
<table><td>
<a href="top_1-1.png"><img src="thumbnail/top_1-1.png" align=middle border=1></a>
<td>
<a href="top_1-1.pdf"><b>top_1-1.pdf</b></a><p>
Plunge lever and pantograph not shown for clarity.
</table>
