<html>
<head>
	<title>Pantorouter templates</title>
    <style type=text/css>
        body { font-family: helvetica; font-size: 100%; }
        h1 {   margin-top: 0em;   margin-bottom: 0.2em; }
        h2 {   margin-top: 0em;   margin-bottom: 0em; }
        h3 {   margin-top: .8em;   margin-bottom: 0.2em; page-break-before:always }
    </style>
</head>
<img src="links.png" width=718 height=945>
<img src="m7t1.png"  width=718 height=945>
<img src="m7t2.png"  width=718 height=945>
<img src="m7t3.png"  width=718 height=945>
<img src="tmpl1.png" width=718 height=945>
<img src="tmpl2.png" width=718 height=945>
<img src="tmpl3.png" width=718 height=945>
<img src="tmpl4.png" width=718 height=945>
<img src="tmpl5.png" width=718 height=945>
